@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap");

body {
	background-color: #4158d0;
	background-image: linear-gradient(114.2deg, rgb(0, 183, 255) 22.6%, #11f830 67.7%);
	background-size: 400% 400%;
	background-position: 200%;
	animation: BodyGradient 10s ease infinite;
	height: 90vh;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: Ubuntu;
}

h1 {
	background-image: linear-gradient(147deg, Navy 0%, Red 50%, Navy 90%);
	font-size: 50px;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	background-size: 400%;
	animation: HeaderGradient 5s infinite linear alternate;
	margin-bottom: 0px;
}

h2 {
	background-image: linear-gradient(147deg, Navy 0%, Red 50%, Navy 90%);
	font-size: 40px;
	-webkit-background-clip: text;
	background-clip: text;
	margin-top: 0px;
	color: transparent;
	background-size: 400%;
	animation: HeaderGradient 5s infinite linear alternate;
	align-items: center;
	margin-bottom: 30px;
}

p {
	background-color: #ffe53b;
	background-image: linear-gradient(147deg, Navy 0%, Red 50%, Navy 90%);
	font-size: 30px;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	background-size: 400%;
	animation: HeaderGradient 5s infinite linear alternate;
}

@keyframes HeaderGradient {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 100%;
	}
}

@keyframes BodyGradient {
	0% {
		background-position: 0%;
	}

	50% {
		background-position: 100%;
	}

	100% {
		background-position: 0%;
	}
}

#back {
	outline: none;
	transition: 1s;
	border: none;
	height: 50px;
	width: 100px;
	background-color: #2e1263;
	color: #f69680;
	margin-top: 0px;
	margin-right: 60px;
	text-align: center;
	font-size: 30px;
}

#back:hover {
	background-color: #ff0095;
	color: #e4d506;
	transition: 1s;
}

#back:focus {
	background-color: #ff0095;
	color: #e4d506;
	transition: 1s;
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
